body{
  max-width: 1920px !important;
  margin: 0 auto;
}
main{
  min-height: 78vh;
}
.container-fluid{
  padding: 0px 50px;
}

*{
  font-family: Inter,Helvetica,sans-serif;
  font-family: Arial, Helvetica, sans-serif !important;
}
.btn{
  font-weight: bold !important;
}
.nav-item{
  font-weight: bold;
}
.nav-item:hover{
  background: #efefef;
  border-radius: 5px;
}
.card .nav .active{
    background: #239789;
    border-radius: none !important;
    color: #fff !important;
  }
  .nav-item > button{
    border: 1px solid #efefef;
    border-radius: 0px !important;
    color: #000 !important;
  }


  .tab-pane{
    color: #000 !important;
  }
  table{
    /* border: none !important; */
  }
  tr{
    padding: 30px !important;
    /* border: 1px solid red; */
  }
  body{
    background: #F1F6FB;
    /* height: 100dvh; */
  }
  /* color: #239789 */
  .nav-link:hover{
    color: #239789 !important;
  }
  .dropdown-item:hover{
    color: #239789 !important;
    background: none;
  }

  .aic_aaa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    /* border: 1px solid red; */
  }

  .dropdown-menu{
    margin-bottom: 10px !important;
  }

  .aic_footer{
    /* position: absolute; */
    /* bottom: 0px; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    color: #5a5a5a;
    /* font-size: 20px; */
  }

  .aic_btn{
    background: #239789;
    color: #fff;
    font-weight: bold;
  }
  .aic_btn:hover{
    background: #1e7f74;
    color: #fff;
  }

  .top_btn{
    background: #fff !important;
    color: #239789 !important;
    font-weight: bold;
  }
  .top_btn:hover{
    background: #239789 !important;
    color: #fff !important;
   }







   /* 
   **timeline modal style 
   */
   .steps {
    width: 100%;
    padding-right: 20px;
    /* border-right: 2px solid #ddd; */
    /* border: 1px solid red; */
  }

  .step {
    display: flex;
    align-items: flex-start;
    width: 100% !important;
    font-weight: bolder;
    /* border: 1px solid red; */
  }

  .step-number {
      z-index: 99999;
      padding: 30px;
    width: 40px;
    height: 40px;
    /* background-color: #239789; */
    background: #E7FFF3;
    color: #239789;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-bottom: 55px;
  }

  .activeStep{
    color: #E7FFF3 !important;
    background: #239789 !important;
  }


  .step-description {
    margin-left: 10px;
    /* border: 1px solid red; */
    width: 300px !important;
  }

  .timeline {
    position: relative;
  }

  .timeline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    width: 2px;
    height: 80%;
    background-color: #ddd;
  }

  .timeline .step:last-child::before {
    display: none; /* Hide the vertical line after the last step */
  }




  /* widget styles.... */
  .widgetController{
    height: 80px; width: 80px; border-radius: 50%; 
    background: url('/images/Atlas.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: shake 0.5s ease-in-out infinite;
    background-color: #A86463; 
    display: flex; 
    position: absolute; 
    bottom: 50px; right: 0px;
    cursor: pointer;
  }
  @keyframes shake {
    0%, 100% {
        transform: translateX(0);
        transform: translateY(0);
    }
    25%, 75% {
        /* transform: translateX(-3px); */
        transform: translateY(2px);
    }
    50% {
        transform: translateX(3px);
        /* transform: translateY(-2px); */
    }
}






/* 
**
NAV STYLING
**
 */
.user_menu_btn{
  border: 1px solid #d1d1d1 !important;
}
.user_menu > a{
  text-decoration: none;
  color: #000;
 }

.user_menu_area{
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user_menu_thumb{
  height: 50px !important;
  width: 60px !important;
  padding: 10px;
  border-radius: 10px;
  background: darkred;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit_area{
  border: 1px solid #239789;
  background: #E7FFF3;
  padding: 10px;
  border-radius: 10px;
}
.credit_item{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.credit_area > span{
  color: #239789;
}

.user_menu_item{
  margin-top: 30px;
  font-weight: 500;
}